@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="text-align:center; background-color:orange; font-size:45px;">
        <b>RNTA : Production</b>
    </div>
    <div>
        <pre>
                Hi Sir/Madam,
                Prière de vérifier votre email pour finir l'inscription !
                click <a href="@ViewBag.ConfirmationLink">Here</a>
        </pre>
    </div>
</body>
</html>
